<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<%- include('partials/navbar', {title:"Trinity Art Blog"}) -%>
<p> Hey, welcome to Trinity Art Blog (TAB).
  You can view art pieces by Trinity students here, provide feedback, and read up on some of the artists. </p>
<!--Making photo cards with Bootstrap.-->
<div class="card-columns">

  <%for(let i = 0; i < artpieces.length; i++){%>
  <div class="card">
    <img class="card-img-top" src="<%=artpieces[i].photo%>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%=artpieces[i].title%></h5>
      <p class="card-text"><%=artpieces[i].artist%></p>
      <a href = "/pieces/<%=artpieces[i].title%>"</a>
      <!--  
      <form action="http://localhost:3000/pieces/<%=artpieces[i].title%>" method="get">
        <button type="submit" formaction="http://localhost:3000/pieces/<%=artpieces[i].title%>">Go to the piece.</button>
      </form>
      -->
    </div>
  </div>
  <%}%>
</div>
