<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<%- include('partials/navbar', {title:"Trinity Art Blog"}) -%>
</head>
  <p class = "stylized"> Artist:<%=artinfotwo.artist%></p>
  <p class = "stylized"> Date written: <%=artinfotwo.time%></p>
  <p class = "stylized">Favorite piece of art: <%=artinfotwo.piece%></p>
  <p class = "stylized">More about them:<%=artinfotwo.aboutyou%></p>
